@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hidden {
    overflow: hidden; /* 스크롤바 숨기기 */
    overflow-y: scroll; /* 세로 스크롤 가능 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari 스크롤바 숨기기 */
  }

  .dot {
    width: 1rem; /* 점의 크기 조절 */
    height: 1rem; /* 점의 크기 조절 */
    border-radius: 50%; /* 점 모양으로 만들기 */
    margin: 0 0.25rem; /* 점 사이의 간격 조절 */
    background-color: aqua;
  }
}
