@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hidden {
    overflow: hidden; /* 스크롤바 숨기기 */
    overflow-y: scroll; /* 세로 스크롤 가능 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari 스크롤바 숨기기 */
  }
}
